
.banner {
    position: relative;
}

.banner__img {
    height: calc(100vh-72px);
    width: 100vw;
}

.banner__titulo {
    font-family: "Pacifico", cursive, sans-serif;
    color: #FFFFFf;
    font-weight: 400;
    line-height: 142px;
    font-size: 6.0rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}