
.receitas {
    background: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 0;
    justify-content: center;
}

.receita {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 5rem 0;
    width: calc(30% - 5rem);
}

.receita:nth-child(3n) { /*Aqui eu estou tirando a margem da direira das caixas de receita que ficam a direita na página, faço isso usando 
                            o nth-child com mutiplos, no caso, mutiplos de 3, pois são 3 elementos por linha. */
    margin-right: 0;
}

.receita__imagem {
    height: 250px;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__titulo {
    font-size: 1.9rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 27px;

    color: #000000;

}

.receita__descricao {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 22px;

    color: #000000;
}

.receita__botao {
    width: 7.6rem;
    height: 2.7rem;
    background: #8D0606;
    border: none;
    border-radius: 5px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    cursor: pointer;
    transition:  all .1s ease-in-out;
}

.receita__botao:hover {
    background: #af1111;
}

.receita__botao:active {
    background: #8a0a0a;
}

@media screen and (max-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
    
    .receita {
        margin-right: 5rem;
        width: calc(30% - 5rem);
    }

    .receita:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
    
    .receita {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem)
    }
    
    .receita:nth-child(3n) {
        margin-right: 2.5rem;
    }
    
}

@media screen and (max-width: 380px) {
    .receitas {
        padding: 5rem 0 0 1rem;
    }
    
    .receita {
        margin-right: 1rem;
        width: 90%;
    }

    .receita:nth-child(3n) {
        margin-right: 1rem;
    }
}